<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cave Runner</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIconZ57x57.png</string>
		<string>AppIconZ57x57@2x.png</string>
		<string>AppIconZ60x60@2x.png</string>
		<string>AppIconZ72x72@2x~ipad.png</string>
		<string>AppIconZ72x72~ipad.png</string>
		<string>AppIconZ76x76@2x~ipad.png</string>
		<string>AppIconZ76x76~ipad.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>18.0.7</string>
	<key>CFBundleVersion</key>
	<string>1.1.5</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>267045208f4b1d9fdcbf019068b81096fe16475a</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UILaunchStoryboardName~ipad</key>
	<string>LaunchScreenZ</string>
	<key>UILaunchStoryboardName~iphone</key>
	<string>LaunchScreenZ</string>
	<key>UILaunchStoryboardName~ipod</key>
	<string>LaunchScreenZ</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UnityCloudProjectID</key>
	<string></string>
	<key>UnityCrashSubmissionURL</key>
	<string>https://a:b@perf-events.cloud.unity3d.com/symbolicate</string>
	<key>Unity_LoadingActivityIndicatorStyle</key>
	<integer>-1</integer>
</dict>
</plist>
