<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>teamID</key>
	<string>ST3D4JRYHA</string>
	<key>method</key>
	<string>enterprise</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>iPhone Distribution: Skillz Inc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.skillz.enterprise.3Dcaverunner</key>
		<string>3D Cave Runner - in house</string>
	</dict>
</dict>
</plist>
