<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>teamID</key>
	<string>DF8VM75V3Q</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>iPhone Distribution: Skillz Inc. (DF8VM75V3Q)</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.skillz.3dCaveRunnerVC</key>
		<string>3D Cave Runner VC - Ad Hoc</string>
	</dict>
</dict>
</plist>
