<?xml version="1.0" encoding="utf-8"?>
<manifest tools:replace="android:versionName,android:versionCode"
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.skillzgames.caverun"
  android:versionName="1.0.0"
  android:versionCode="1"
  android:installLocation="preferExternal"
  xmlns:tools="http://schemas.android.com/tools">
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
    <uses-permission android:name="android.permission.INTERNET" />

<application android:theme="@style/UnityThemeSelector"
    tools:replace="android:icon"
    android:icon="@mipmap/ic_launcher_full"
    android:label="@string/app_name"
    android:banner="@drawable/app_banner">
        <activity android:label="@string/home_name" android:screenOrientation="portrait" android:launchMode="singleTop"
                  android:clearTaskOnLaunch="false" android:alwaysRetainTaskState="true"
                  android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
                  android:name="com.skillzgames.caverun.SkillzUnityPlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
            <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="true" />
        </activity>

        <meta-data
            android:name="skillz_game_id"
            android:value="81" />
        <meta-data
            android:name="skillz_production"
            android:value="true" />
        <meta-data
            android:name="skillz_server_url"
            android:value="https://staging.skillz.com" />

        <meta-data android:name="skillz_orientation" android:value="portrait" />
    <meta-data android:name="skillz_game_activity" android:value="com.skillzgames.caverun.SkillzUnityPlayerActivity"/>
    <meta-data android:name="skillz_allow_exit" android:value="true" />
    <meta-data android:name="skillz_is_unity" android:value="true" />
    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="267045208f4b1d9fdcbf019068b81096fe16475a"
        />
  </application>
  <uses-feature android:glEsVersion="0x00020000" />
  <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />
  <uses-feature android:name="android.hardware.location.gps" android:required="false" />
</manifest>
